<body>    
  <div class="main-content">
  <div class="header-content">
  <div class="emp-details-text">
      Employee Details
      <div class="emp-count">0</div>
  </div>
  <a routerLink="form" class="add-button">
      <img src="../assets/icons/add-24px.svg" alt="Add User">Add User</a>
  </div>
  <table id="display" class="table">
      <tr>
          <th></th>
          <th>Name</th>
          <th>Gender</th>
          <th>Department</th>
          <th>Salary</th>
          <th>Start Date</th>
          <th>Actions</th>

      </tr>
      <tr>
          <td><img class="profile" alt="" src="../assets/profile-images/Ellipse -2.png">
          </td>
          <td>Shekhar</td>
          <td>Male</td>
          <td><div class="dept-label">Sales</div>
              <div class="dept-label">IT</div>
          </td>
          <td> Rs. 30000</td>
          <td>12-12-2012</td>
          <td>
              <img id="1"  alt="delete"
              src="../assets/icons/delete-black-18dp.svg">
              <img id="1" alt="edit"
              src="../assets/icons/create-black-18dp.svg"> 
          </td>
      </tr>
  </table>
  
</div>
</body>