<body>    
  <div class="main-content">
  <div class="header-content">
  <div class="emp-details-text">
      Employee Details
      <div class="emp-count">0</div>
  </div>
  

 <div> 
  <a routerLink="form" class="add-button">
      <img src="../assets/icons/add-24px.svg" alt="Add User">AddUser</a>
    </div>
    
  </div>
  <table id="display" class="table">
      <tr>
          <th></th>
          <th>Name</th>
          <th>Gender</th>
          <th>Department</th>
          <th>Salary</th>
          <th>Start Date</th>
          <th>Actions</th>

      </tr>
  </table>
  
</div>
</body>